remark works
<div id="location-form" class="table-full-width loc-form">
  <button md-raised-button (click)="openDialog(myLocation)">Add Current Location</button>
  <span class="fill-space"></span>
  <button md-raised-button (click)="reCenter()">Go To My Location</button>
</div>
<div class="loc-form"><span [hidden]="!isNavigating">Navigating to location...</span></div>
<div class="map-div">
  <sebm-google-map [zoom]="zoom" [latitude]="lat" [longitude]="lng">
    <sebm-google-map-marker *ngFor="let l of (mapLocations | locationFilter : filterString)" [iconUrl]="l.iconUrl" [latitude]="l.latitude"
                            [longitude]="l.longitude" [label]="l.label" [markerDraggable]="false">
      <sebm-google-map-info-window [disableAutoPan]="true">
        <span>(Lat:{{l.latitude}}, Long:{{l.longitude}})</span>
        <div>
          <p [hidden]="l.note ==''">Note/Remark: {{l.note}}</p>
          <p [hidden]="l.name ==''">Visited by: <strong>{{l.name}}</strong></p>
        </div>
        <p [hidden]="!l.isHome" ><button md-raised-button (click)="openDialog(myLocation)">Add Current Location</button>
        </p>
      </sebm-google-map-info-window>
    </sebm-google-map-marker>
  </sebm-google-map>
</div>

<span [hidden]="!loadingApi">Loading user locations... Taking too long? <a href="#" (click)="loadUserlocations()">try again</a></span>
<div id="loc-table" [hidden]="!tableLocations || tableLocations.length == 0">
  <p><label>
    <input class="input-table" placeholder="Filter table" type="text" [(ngModel)]="filterString">
  </label></p>
  <table id="tbl-locations" class="table-full-width">
    <thead>
    <th>Remarks</th>
    <th>Name</th>
    </thead>
    <tbody>
    <tr *ngFor="let loc of (tableLocations | locationFilter : filterString)">
      <td>{{loc.note}}</td>
      <td>{{loc.Name}}</td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>
