<div id="map-form" [hidden]="false">
    <form [formGroup]="locationForm" (ngSubmit)="onSubmit()" novalidate>

        <md-card class="location-card">
            <md-card-header>
                <div md-card-avatar class="location-header-image"></div>
                <md-card-title><strong>{{myLocation.address}}</strong></md-card-title>
                <md-card-subtitle>Lat: {{myLocation.latitude}}, Long: {{myLocation.longitude}}</md-card-subtitle>
            </md-card-header>
            <md-card-content>
                <md-input-container class="table-full-width">
                  <label>
                    <input mdInput placeholder="Username" formControlName="username" value="">
                  </label>
                </md-input-container>
                <md-input-container class="table-full-width">
                  <label>
                    <textarea class="location-textarea" mdInput placeholder="Notes" formControlName="notes" value=""></textarea>
                  </label>
                </md-input-container>
            </md-card-content>
            <md-card-actions>
                <button md-raised-button>Save</button>
                <button type="button" md-raised-button (click)="cancel()">Cancel</button>
            </md-card-actions>
        </md-card>
    </form>
</div>
